/* Sticky footer styles
-------------------------------------------------- */
body {
    padding-top: 70px;
    padding-bottom: 40px;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.nav, .pagination, .carousel a { cursor: pointer; }

.popover-content {
    min-width: 280px;
    max-width: 350px;
}

/* Custom page CSS
-------------------------------------------------- */

/* Graphs */
.bar.rect {
    fill: #058dc7;
    stroke: none;
}

.bar.text {
    fill: #000;
    stroke: none;
    font-size: 12px;
}
