<div class="row-fluid">
    <div class="span12">
        <div class="alert">On this page I introduce the different projects that made it possible for me to create this
            tool.
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        LOGO
        <a href="http://angularjs.org">website</a>
    </div>
    <div class="span10">
        <h3>AngularJS</h3>

        <p></p>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        LOGO
        <a href="http://twitter.github.com/bootstrap/#">website</a>
    </div>
    <div class="span10">
        <h3>Twitter bootstrap</h3>

        <p></p>
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        LOGO
        <a href="http://docs.fullscale.co/elasticjs/">website</a>
    </div>
    <div class="span10">
        <h3>Elastic.js</h3>

        <p></p>
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        LOGO
        <a href="http://www.fullscale.co/dangle/">website</a>
    </div>
    <div class="span10">
        <h3>Dangle</h3>

        <p></p>
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        LOGO
        <a href="http://angular-ui.github.com/bootstrap/">website</a>
    </div>
    <div class="span10">
        <h3>UI Bootstrap</h3>

        <p></p>
    </div>
</div>

