<div class="row-fluid">
    <div class="span6">
        <h2>Basic cluster information</h2>
        <table class="table table-condensed">
            <tr>
                <th>Cluster name</th>
                <td>{{health.cluster_name}}</td>
            </tr>
            <tr>
                <th>Number of nodes</th>
                <td>{{health.number_of_nodes}}</td>
            </tr>
            <tr>
                <th>Number of data nodes</th>
                <td>{{health.number_of_data_nodes}}</td>
            </tr>
            <tr>
                <th>Active primary shards</th>
                <td>{{health.active_primary_shards}}</td>
            </tr>
            <tr>
                <th>Active shards</th>
                <td>{{health.active_shards}}</td>
            </tr>
            <tr>
                <th>Relocating shards</th>
                <td>{{health.relocating_shards}}</td>
            </tr>
            <tr>
                <th>Initializing shards</th>
                <td>{{health.initializing_shards}}</td>
            </tr>
            <tr>
                <th>Unassigned shards</th>
                <td>{{health.unassigned_shards}}</td>
            </tr>
        </table>
        <h2>Indexes information</h2>
        <table class="table table-condensed">
            <tr>
                <th>Index</th>
                <th>Size</th>
                <th>#docs</th>
                <th>#shards</th>
            </tr>
            <tr ng-repeat="(key,value) in indices">
                <td>{{key}}</td>
                <td>{{value.index.primary_size}}</td>
                <td>{{value.docs.num_docs}}</td>
                <td>{{value.shards.size()}}</td>

            </tr>
        </table>
    </div>
    <div class="span6">
        <h2>Information about the nodes.</h2>
        <table class="table">
            <tr>
                <th>Node name</th>
                <th>Version</th>
                <th>Client</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="(key,value) in nodes">
                <td>{{value.name}}</td>
                <td>{{value.version}}</td>
                <td ng-show="value.attributes.client">
                    <i class="icon-ok"></i> (data: {{value.attributes.data}})
                </td>
                <td ng-hide="value.attributes.client"><i class="icon-remove"></i></td>
                <td><a href="#/node/{{key}}">More info</a></td>
            </tr>
        </table>
    </div>
</div>
