<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <p>This page helps you trying out different aggregations and how to present the data. Currently only term and date histogram aggregations are supported.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <span class="text-info">Aggregations</span>
        <button type="button" popover-placement="right"
                popover="Here you can select the agregate to return. "
                class="btn btn-sm btn-link"><span class="glyphicon glyphicon-question-sign"></span></button>
        <button class="btn btn-info btn-sm" ng-click="openDialog()" title="Set the Aggregate">Add/Change Aggregate
            <span class="glyphicon glyphicon-edit glyphicon-white"></span>
        </button>
        <span ng-show="aggregate">{{aggregate.name}} ({{aggregate.aggsType}})</span>
    </div>
</div>
<div class="row" ng-show="aggregate">
    <div class="col-md-12">
        <button class="btn btn-primary" type="button" ng-click="executeQuery()">Execute<span
                class="glyphicon glyphicon-fire glyphicon-white"></span></button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ng-hide="results">
            <div class="alert alert-info">Here we'll show the graphics when you have executed the query.</div>
        </div>
        <div ng-show="results">
            <div ng-switch on="aggregate.aggsType">
                <div ng-switch-when="term">
                    <fs-donut outer-radius="200" inner-radius="75" duration="750" bind="results"/>
                </div>
                <span ng-switch-when="date_histogram">
                    <fs-date-histo duration="750" bind="results"/>
                </span>
                <span ng-switch-when="histogram">
                    <!--<fs-bar bind="results" height="400"/>-->
                    TODO
                </span>
                <span ng-switch-when="range">
                    <!--<fs-bar bind="results" height="400"/>-->
                    TODO
                </span>
            </div>
        </div>
    </div>
</div>
