<div class="row-fluid" ng-init="init()">
    <div class="span12">
        <div class="alert alert-info">
            <span class="btn btn-link" ng-click="isCollapsed = !isCollapsed"><i class="icon-cog"></i>Configure: {{clusterName}}  <i
                    class="icon-chevron-down" ng-show="isCollapsed"></i><i class="icon-chevron-left"
                                                                           ng-hide="isCollapsed"></i></span>

            <div collapse="isCollapsed">
                <form>
                    <label>Titel</label>
                    <select ng-model="configure.title" ng-options="key as value.forPrint for (key,value) in fields">
                    </select>
                    <label>Description</label>
                    <select ng-model="configure.description"
                            ng-options="key as value.forPrint for (key,value) in fields">
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12" ng-show="configError">
        <div class="alert alert-error">{{configError}}</div>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
        <label class="checkbox">
            <input class="checkbox" type="checkbox" ng-model="search.doAdvanced">Do advanced search
        </label>

        <div>
            <span>Facets</span>
        <span class="btn btn-info btn-mini" ng-click="openDialog()" title="Add new Facet">
            <i class="icon-plus-sign icon-white"></i>
        </span>
        </div>
        <div ng-repeat="facet in search.facets">{{facet.field}} ({{facet.facetType}})
            <span class="btn btn-mini" ng-click="removeFacetField(facet.field)" title="Remove facet Field">
                <i class="icon-remove-sign"></i>
            </span>
        </div>

    </div>
    <div class="span9" ng-hide="search.doAdvanced">
        <form class="form-inline">
            <input class="search-query" type="search" ng-model="search.simple" autofocus="true"
                   placeholder="Type your search string"/>
            <button class="btn btn-primary" ng-click="doSearch()"><i class="icon-search icon-white"></i> Search</button>
            <label class="checkbox">
                <input class="checkbox" type="checkbox" ng-model="search.details"> Show details
            </label>
            <span class="btn btn-mini" ng-click="saveQuery()"><i class="icon-share"></i> save</span>
            <span class="btn btn-mini" ng-click="loadQuery()"><i class="icon-download-alt"></i> load</span>
        </form>
    </div>
    <div class="span9" ng-show="search.doAdvanced">
        <form class="form-inline">
            <div>
                <label>Choose field</label>
                <select ng-model="search.advanced.newField"
                        ng-options="key as value.forPrint for (key,value) in fields">
                    <option value="">-- chose field --</option>
                </select>
                <label>Enter text</label>
                <input class="search-query" type="search" ng-model="search.advanced.newText" autofocus="true"
                       placeholder="Type your search string"/>
                <button class="btn btn-info" ng-click="addSearchField()"><i class="icon-plus-sign icon-white"></i> Add
                </button>
            </div>
            <div>
                <div ng-repeat="searchField in search.advanced.searchFields">
                    {{searchField.field}} = {{searchField.text}} <span style="cursor:pointer;"
                                                                       ng-click="removeSearchField(searchField)"><i
                        class="icon-remove-sign"></i></span>
                </div>
                <br/>

                <div>
                    <button class="btn btn-primary" ng-click="doSearch()"><i class="icon-search icon-white"></i> Search
                    </button>
                    <span class="btn btn-mini" ng-click="saveQuery()"><i class="icon-share"></i> save</span>
                    <span class="btn btn-mini" ng-click="loadQuery()"><i class="icon-download-alt"></i> load</span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3>Results</h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
        <div ng-repeat="(key,value) in facets">
            <div><strong>{{key}}</strong></div>
            <div ng-show="value._type === 'terms'">
                <div ng-repeat="term in value.terms">
                    <span ng-show="checkSelectedFacet(key,term.term)">{{term.term}} ({{term.count}}) <i
                            style="cursor:pointer;" class="icon-remove"
                            ng-click="removeFilter(key,term.term)"></i></span>
                    <span ng-hide="checkSelectedFacet(key,term.term)" class="btn btn-mini btn-link"
                          ng-click="addFilter(key,term.term)">{{term.term}} ({{term.count}})</span>
                </div>
            </div>
            <div ng-show="value._type === 'date_histogram'">
                <div ng-repeat="entry in value.entries">
                    <!--<span ng-show="checkSelectedFacet(key,entry.time)"> {{entry.time | date:'medium'}} ({{entry.count}}) <i-->
                    <!--style="cursor:pointer;" class="icon-remove"-->
                    <!--ng-click="removeFilter(key,entry.time)"></i></span>-->
                    <!--<span ng-hide="checkSelectedFacet(key,entry.time)" class="btn btn-mini btn-link"-->
                    <!--ng-click="addFilter(key,entry.time)">{{entry.time | date:'medium'}} ({{entry.count}})</span>-->
                    <span>{{entry.time | date:'medium'}} ({{entry.count}})</span>
                </div>
            </div>
            <div ng-show="value._type === 'histogram'">
                <div ng-repeat="entry in value.entries">
                    <span ng-show="checkSelectedFacet(key,entry.key)"> {{entry.key}}-{{entry.key+obtainFacetByKey(key).interval}} ({{entry.count}}) <i
                            style="cursor:pointer;" class="icon-remove"
                            ng-click="removeFilter(key,entry.key)"></i></span>
                    <span ng-hide="checkSelectedFacet(key,entry.key)" class="btn btn-mini btn-link"
                          ng-click="addFilter(key,entry.key)">{{entry.key}}-{{entry.key+obtainFacetByKey(key).interval}} ({{entry.count}})</span>
                </div>
            </div>
            <div ng-show="value._type === 'range'">
                <div ng-repeat="range in value.ranges">
                    <span>{{range.from}}-{{range.to}} ({{range.total_count}})</span>
                </div>
            </div>
        </div>
    </div>
    <div class="span8">
        <div ng-repeat="result in results.hits">
            <div><span class="text-info">{{result.fields[configure.title]}}</span><span class="text-warning"
                                                                                        ng-show="search.details">    index: {{result._index}} - score: {{result._score}} - type: {{result._type}}</span>
            </div>
            <div class="well-small">
                {{result.fields[configure.description]}}
            </div>
        </div>
    </div>
</div>