<div>Available indexes: <span ng-click="indices()" class="btn btn-mini"><i class="icon-refresh"></i></span>

    <div id="chooseIndexBtn" class="btn-group" data-toggle="buttons-checkbox">
        <div class="btn btn-mini" ng-click="chooseIndex(key)" ng-repeat="(key,value) in indices">{{key}}</div>
    </div>
</div>

<div>Available types: <span ng-click="types()" class="btn btn-mini"><i class="icon-refresh"></i></span>

    <div id="chooseTypeBtn" class="btn-group" data-toggle="buttons-checkbox">
        <div class="btn btn-mini" ng-click="chooseType(type)" ng-repeat="type in types">{{type}}</div>
    </div>
</div>

<div>
    <form class="form-horizontal">
        Available Fields:<select ng-model="queryFactory.addField">
        <option ng-repeat="field in fields">{{field}}</option>
    </select>
        <span class="btn btn-info btn-mini" ng-click="addQueryField()" title="Add query Field"><i
                class="icon-plus-sign icon-white"></i></span>
        <span ng-repeat="field in chosenFields">{{field}} <span class="btn btn-mini" ng-click="removeQueryField(field)"
                                                                title="Remove query Field"><i
                class="icon-remove-sign"></i></span></span>
    </form>
</div>

<div>
    <form class="form-horizontal">
        Possible Facets:<select ng-model="queryFactory.addFacet">
        <option ng-repeat="field in fields">{{field}}</option>
    </select>
        <span class="btn btn-info btn-mini" ng-click="addFacetField()" title="Add a facet Field"><i
                class="icon-plus-sign icon-white"></i></span>
        <span ng-repeat="field in facets">{{field}} <span class="btn btn-mini" ng-click="removeFacetField(field)"
                                                          title="Remove facet Field"><i
                class="icon-remove-sign"></i></span></span>
    </form>
</div>

<div>
    <form novalidate class="form-search">
        Search for: <input type="text" class="input-medium search-query" ng-model="search.term" ng-change=""/>
        <span class="btn btn-primary" ng-click="executeQuery()" title="Execute query"><i
                class="icon-search icon-white"></i></span>
        <span class="btn btn-info" ng-click="changeQuery()" title="Check Query"><i
                class="icon-check icon-white"></i></span>
        <span class="btn btn-info" ng-click="resetQuery()" title="Reset all choices"><i
                class="icon-refresh icon-white"></i></span><br/>
        Use explain: <label class="checkbox"><input type="checkbox" ng-model="search.explain"/> </label>
    </form>
</div>

<h3>Query</h3>
<div class="well well-large">{{createdQuery}}</div>

<h3>Facet results</h3>
<div ng-repeat="(key,value) in facetResults">
    <div><strong>{{key}} - {{value._type}}</strong></div>
    <div>
        <span>Total: {{value.total}}</span>
        <span>Missing: {{value.missing}}</span>
        <span>Missing: {{value.other}}</span>
    </div>
    <div>
        <span ng-repeat="term in value.terms"> {{term.term}} ({{term.count}})</span>
    </div>
</div>

<h3>Results</h3>
<table class="table table-condensed">
    <tr>
        <th>Total hits</th>
        <td>{{queryResults.total}}</td>
    </tr>
    <tr>
        <th>Max score</th>
        <td>{{queryResults.max_score}}</td>
    </tr>
</table>
<div class="row" ng-repeat="doc in queryResults.hits">
    <div class="span4">
        <table class="table table-condensed">
            <tr>
                <th>Index</th>
                <td>{{doc._index}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{doc._type}}</td>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{doc._id}}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{doc._score}}</td>
            </tr>
            <tr>
                <th>Shard</th>
                <td>{{doc._shard}}</td>
            </tr>
            <tr>
                <th>Node</th>
                <td>{{doc._node}}</td>
            </tr>
        </table>
    </div>
    <div class="span4">
        <table class="table table-condensed">
            <tr ng-repeat="(key,value) in doc.fields">
                <th>{{key}}</th>
                <td>{{value}}</td>
            </tr>
        </table>
    </div>
    <div class="span4">
        <h3 ng-hide="!search.explain">Explanation</h3>

        <p>{{doc._explanation}}</p>
    </div>
</div>

<script>
    $('.chooseIndexBtn').button()
</script>
