<div class="row-fluid">
    <div class="span12">
        <div class="alert">
            <p>This page is about providing a very basic search and check the query that is created. This way you
                can learn about creating queries and the result of those query against the data in your ElasticSearch
                instance.</p>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span2"><span class="text-info">Available indexes:</span>
        <button popover-placement="right"
                popover="Here you can select the index that we query over. If you select nothing, we query over all data"
                class="btn btn-mini btn-link"><i class="icon-question-sign"></i></button>
    </div>
    <div class="span10">
        <div id="chooseIndexBtn" class="btn-group" data-toggle="buttons-checkbox">
            <div class="btn btn-mini" ng-click="chooseIndex(key)" ng-repeat="(key,value) in indices">{{key}}</div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span2"><span class="text-info">Available types:</span>
        <button popover-placement="right"
                popover="Here you can select the type of documents that we query over. If you select nothing, all types are used for the query.
                Beware, if you select a type that is not available in the chosen index you see nothing."
                class="btn btn-mini btn-link"><i class="icon-question-sign"></i></button>
    </div>
    <div class="span10">
        <div id="chooseTypeBtn" class="btn-group" data-toggle="buttons-checkbox">
            <div class="btn btn-mini" ng-click="chooseType(type)" ng-repeat="type in types">{{type}}</div>
        </div>
    </div>
</div>

<div class="row-fluid" style="padding-bottom: 5px">
    <form class="form-horizontal">
        <div class="span2"><span class="text-info">Available Fields:</span>
            <button popover-placement="right"
                    popover="Here you can select the fields that we obtain and that we show on screen. If you select nothing, we also show nothing
                    on the screen. When the highlight checkbox is checked we use highlighting when showing the fields."
                    class="btn btn-mini btn-link"><i class="icon-question-sign"></i></button>
        </div>
        <div class="span10">
            <select ng-model="queryFactory.addField">
                <option ng-repeat="field in fields">{{field}}</option>
            </select>
            <span class="btn btn-info btn-mini" ng-click="addQueryField()" title="Add query Field">
                <i class="icon-plus-sign icon-white"></i>
            </span>
            <span ng-repeat="field in chosenFields">{{field}}
                <span class="btn btn-mini" ng-click="removeQueryField(field)" title="Remove query Field">
                    <i class="icon-remove-sign"></i>
                </span>
            </span>
        </div>
    </form>
</div>

<div class="row-fluid">
    <div class="span2">
        <span class="text-info">Facets</span>
        <button popover-placement="right"
                popover="Here you can select the facets to return. A few basic types are available. Use the Facets screen to do more advanced stuff with facets."
                class="btn btn-mini btn-link"><i class="icon-question-sign"></i></button>

    </div>
    <div class="span10">
        <span class="btn btn-info btn-mini" ng-click="openDialog()" title="Add new Facet">
            <i class="icon-plus-sign icon-white"></i>
        </span>
        <span ng-repeat="facet in facets">{{facet.field}} ({{facet.facetType}})
            <span class="btn btn-mini" ng-click="removeFacetField(facet.field)" title="Remove facet Field">
                <i class="icon-remove-sign"></i>
            </span>
        </span>
    </div>
</div>

<form novalidate class="form-search">
    <div class="row-fluid">
        <div class="span2">
            <span class="text-info">Query configuration</span>
            <button popover-placement="right"
                    popover="Here you can configure some additional items on the query. You can change the default OR searching to AND searching and even PHRASE
                    searching. All queries use the Match query type. If you want to do more advanced queries using search by field for instance use another part of this application.
                    If you select the explain option you'll learn more about the scoring of the returned results. When selecting highlighting we also show the highlighted fields."
                    class="btn btn-mini btn-link"><i class="icon-question-sign"></i></button>

        </div>
        <div class="span10">
            <span class="btn btn-info btn-mini" ng-click="changeQuery()" title="Check Query"><i
                    class="icon-check icon-white"></i></span>
            <span class="btn btn-info btn-mini" ng-click="resetQuery()" title="Reset all choices"><i
                    class="icon-refresh icon-white"></i></span>
            <span class="text-info">Query Type</span>
            <label class="radio">
                <input type="radio" ng-model="search.type" value="or">OR
            </label>
            <label class="radio">
                <input type="radio" ng-model="search.type" value="and">AND
            </label>
            <label class="radio">
                <input type="radio" ng-model="search.type" value="phrase">PHRASE
            </label>
            <span class="text-info">    Use explain:</span>
            <label class="checkbox"><input type="checkbox" ng-model="search.explain"/></label>
            <span class="text-info">, Use highlighting:</span>
            <label class="checkbox"><input type="checkbox" ng-model="search.highlight"/></label>
        </div>
    </div>
    <div class="row-fluid" style="padding-bottom: 5px">
        <div class="span12 alert alert-info">
            <span class="text-info offset1">Search for:</span>
            <input type="text" class="input-medium search-query span4" ng-model="search.term" ng-change=""/>
                    <span class="btn btn-primary" ng-click="executeQuery()" title="Execute query">Query <i
                            class="icon-search icon-white"></i></span>
        </div>
    </div>
</form>

<h3>Query</h3>
<div class="well well-large">{{createdQuery}}</div>

<h3>Facet results</h3>
<div ng-repeat="(key,value) in facetResults">
    <div><strong>{{key}} - {{value._type}}</strong></div>
    <div ng-show="value._type === 'terms'">
        <div>
            <span>Total: {{value.total}}</span>
            <span>Missing: {{value.missing}}</span>
            <span>Other: {{value.other}}</span>
        </div>
        <div>
            <span ng-repeat="term in value.terms"> {{term.term}} ({{term.count}})</span>
        </div>
    </div>
    <div ng-show="value._type === 'date_histogram'">
        <div>
            <span ng-repeat="entry in value.entries"> {{entry.time}} ({{entry.count}})</span>
        </div>
    </div>
    <div ng-show="value._type === 'ranges'">
        <div>
            <p>TODO</p>
        </div>
    </div>

</div>

<h3>Results</h3>
<table class="table table-condensed">
    <tr>
        <th>Total hits</th>
        <td>{{queryResults.total}}</td>
    </tr>
    <tr>
        <th>Max score</th>
        <td>{{queryResults.max_score}}</td>
    </tr>
</table>
<div class="row-fluid" ng-repeat="doc in queryResults.hits">
    <div class="span4">
        <table class="table table-condensed">
            <tr>
                <th>Index</th>
                <td>{{doc._index}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{doc._type}}</td>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{doc._id}}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{doc._score}}</td>
            </tr>
            <tr>
                <th>Shard</th>
                <td>{{doc._shard}}</td>
            </tr>
            <tr>
                <th>Node</th>
                <td>{{doc._node}}</td>
            </tr>
        </table>
    </div>
    <div class="span4">
        <table class="table table-condensed" ng-hide="search.highlight">
            <tr ng-repeat="(key,value) in doc.fields">
                <th>{{key}}</th>
                <td>{{value}}</td>
            </tr>
        </table>
        <table class="table table-condensed" ng-show="search.highlight">
            <tr ng-repeat="(key,value) in doc.highlight">
                <th>{{key}}</th>
                <td><p ng-repeat="item in value">{{item}}</p></td>
            </tr>
        </table>
    </div>
    <div class="span4">
        <h3 ng-hide="!search.explain">Explanation</h3>

        <p>{{doc._explanation}}</p>
    </div>
</div>

<script>
    $('.chooseIndexBtn').button();
    $('.chooseTypeBtn').button();
</script>
