<div class="row" ng-init="init()">
    <div class="col-md-12">
        
    </div>
</div>

<div class="row">
    <div class="col-sm-9" ng-hide="search.doAdvanced">
        <form class="form-inline">
            <span>
                <input class="form-control" type="search" ng-model="search.simple" autofocus="true"
                       placeholder=""/>
            </span>

            <button class="btn btn-primary" ng-click="restartSearch()"><span class="glyphicon glyphicon-search glyphicon-white"></span> Search</button>
            
            <label class="checkbox" ng-hide="search.doAdvanced">
                <input class="checkbox" type="checkbox" ng-model="search.doAdvanced">Advanced search
            </label>
        </form>
    </div>

    <div class="col-sm-2" ng-show="search.doAdvanced">
        <button class="btn btn-primary" ng-click="restartSearch()"><span class="glyphicon glyphicon-search glyphicon-white"></span> Search</button>
    </div>
    <div class="col-sm-8" ng-show="search.doAdvanced">
        
        <form class="form-inline">
            <span>
                <input class="form-control" type="search" ng-model="search.advanced.newText" autofocus="true"
                           placeholder=""/>
            </span>
            <span>
                <select class="form-control" ng-model="search.advanced.newField"
                        ng-options="key as value.forPrint for (key,value) in fields">
                    <option value="">-- choose field --</option>
                </select>
                <button class="btn btn-info" ng-click="addSearchField()"><span class="glyphicon glyphicon-plus-sign glyphicon-white"></span> Add</button>
            </span>
            <div>
                <div ng-repeat="searchField in search.advanced.searchFields">
                    {{searchField.field}} = {{searchField.text}} <button class="btn btn-link" ng-click="removeSearchField($index)"><span
                        class="glyphicon glyphicon-remove"></span></button>
                </div>
                <br/>
            </div>
        </form>
    </div>

    <div class="col-sm-2">
        <button class="btn btn-sm btn-default pull-right" ng-click="loadQuery()"><span class="glyphicon glyphicon-download-alt"></span> load</button>
        <button class="btn btn-sm btn-default pull-right" ng-click="saveQuery()"><span class="glyphicon glyphicon-share"></span> save</button>
    </div>
</div>

<div class="row" ng-show="metaResults.failedShards">
    <div class="col-md-12">
        <h3>Errors</h3>
        <div class="alert alert-danger" ng-repeat="error in metaResults.errors">
            {{error}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Results</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div ng-repeat="(key,value) in aggs">
            <div><strong>{{key}}</strong></div>
            <div ng-repeat="bucket in value.buckets">
                <div ng-show="search.aggs[key].aggsType === 'term'">
                    <button class="btn btn-link" ng-show="checkSelectedAggregate(key,bucket.key)" ng-click="removeFilter(key,bucket.key)">{{bucket.key}} ({{bucket.doc_count}}) <span class="glyphicon glyphicon-remove"></span></button>
                    <button ng-hide="checkSelectedAggregate(key,bucket.key)" class="btn btn-link"
                          ng-click="addFilter(search.aggs[key].name,bucket.key)">{{bucket.key}} ({{bucket.doc_count}})</button>
                </div>
                <div ng-show="search.aggs[key].aggsType === 'histogram'">
                    <button class="btn btn-link" ng-show="checkSelectedAggregate(key,bucket.key)" ng-click="removeFilter(key,bucket.key)">{{bucket.key}} ({{bucket.doc_count}}) <span class="glyphicon glyphicon-remove"></span></button>
                    <button ng-hide="checkSelectedAggregate(key,bucket.key)" class="btn btn-link"
                          ng-click="addFilter(key,bucket.key)">{{bucket.key}} ({{bucket.doc_count}})</button>
                </div>
                <div ng-show="search.aggs[key].aggsType === 'range'">
                    <button class="btn btn-link" ng-show="checkSelectedRangeAggregate(key,bucket.from,bucket.to)" ng-click="removeRangeFilter(key,bucket.from,bucket.to)">{{bucket.from}}-{{bucket.to}} ({{bucket.doc_count}}) <span class="glyphicon glyphicon-remove"></span></button>
                    <button ng-hide="checkSelectedRangeAggregate(key,bucket.from,bucket.to)" class="btn btn-link"
                          ng-click="addRangeFilter(key,bucket.from,bucket.to)">{{bucket.from}}-{{bucket.to}} ({{bucket.doc_count}})</button>
                </div>
                <div ng-show="search.aggs[key].aggsType === 'datehistogram'">
                    <button class="btn btn-link" ng-show="checkSelectedAggregate(key,bucket.key)"  ng-click="removeFilter(key,bucket.key)"> {{bucket.key_as_string | date:'medium'}} ({{bucket.doc_count}}) <span
                    class="glyphicon glyphicon-remove"></span></button>
                    <button ng-hide="checkSelectedAggregate(key,bucket.key)" class="btn btn-mini btn-link"
                            ng-click="addFilter(key,bucket.key)">{{bucket.key_as_string | date:'medium'}}
                        ({{bucket.doc_count}})
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-show="totalItems>0">
        <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm"
                    max-size="maxSize" ng-change="changePage()" previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;" last-text="&raquo;"></pagination>

        <div ng-repeat="result in results.hits" class="result">
            <div>
              <p class="header">
                <a href="{{result._source.url}}">{{result._source.title}}</a>
                <small span ng-show="result._source.author">by {{result._source.author}} </small>
              </p>
                <div class="text-warning text-right">
                    source: {{result._type}}
                </div>
            </div>
            <div class="well-small" ng-bind-html="getDescription(result)">
            </div>
            <p ng-show="result._source.last_updated" class="text-right">
              <small>last updated</small> 
              {{ result._source.last_updated | date:'medium'}}
            </p>
        </div>
        <br/>
        <pre>Page: {{currentPage}} / {{numPages}}</pre>
    </div>
</div>
