<div class="row" ng-init="init()">
    <div class="col-md-12">
        <div class="alert alert-info">
            <p>Using this page you can query your indexes like a search box on a website would do. First you need to
                configure the titel and description of your search results. You can store and load a search. You can also do an advanced search, this way you can select fields and query based on those fields.</p>
            <button class="btn btn-link" ng-click="isCollapsed = !isCollapsed"><spam class="glyphicon glyphicon-cog"></span>  Configure: {{clusterName}}  <span
                    class="glyphicon glyphicon-chevron-down" ng-show="isCollapsed"></span><span class="glyphicon glyphicon-chevron-left" ng-hide="isCollapsed"></span></button>
            <div collapse="isCollapsed">
                <form role="form">
                    <div class="form-group">
                        <label>Titel</label>
                        <select class="form-control" ng-model="configure.title" 
                                ng-options="key as value.forPrint for (key,value) in fields">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <select class="form-control" ng-model="configure.description"
                                ng-options="key as value.forPrint for (key,value) in fields">
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ng-show="configError">
        <div class="alert alert-danger">{{configError}}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label class="checkbox">
            <input class="checkbox" type="checkbox" ng-model="search.doAdvanced">Do advanced search
        </label>

        <div>
            <span>Facets</span>
        <button class="btn btn-info btn-sm" ng-click="openDialog()" title="Add new Facet">
            <span class="glyphicon glyphicon-plus-sign glyphicon-white"></span>
        </button>
        </div>
        <div ng-repeat="facet in search.facets">{{facet.field}} ({{facet.facetType}})
            <button class="btn btn-link" ng-click="removeFacetField($index)" title="Remove facet Field">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

    </div>
    <div class="col-md-9" ng-hide="search.doAdvanced">
        <form class="form-inline">
            <div class="col-xs-4">
                <input class="form-control" type="search" ng-model="search.simple" autofocus="true"
                       placeholder="Type your search string"/>
            </div>
            <button class="btn btn-primary" ng-click="restartSearch()"><span class="glyphicon glyphicon-search glyphicon-white"></span> Search</button>
            <label class="checkbox">
                <input class="checkbox" type="checkbox" ng-model="search.details"> Show details
            </label>
            <button class="btn btn-sm btn-default" ng-click="saveQuery()"><span class="glyphicon glyphicon-share"></span> save</button>
            <button class="btn btn-sm btn-default" ng-click="loadQuery()"><span class="glyphicon glyphicon-download-alt"></span> load</button>
        </form>
    </div>
    <div class="col-md-9" ng-show="search.doAdvanced">
        <form class="form-inline">
            <div>
                <label>Choose field</label>
                <select class="form-control" ng-model="search.advanced.newField"
                        ng-options="key as value.forPrint for (key,value) in fields">
                    <option value="">-- chose field --</option>
                </select>
                <label>Enter text</label>
                <div class="col-xs-4">
                    <input class="form-control" type="search" ng-model="search.advanced.newText" autofocus="true"
                           placeholder="Type your search string"/>
                </div>
                <button class="btn btn-info" ng-click="addSearchField()"><span class="glyphicon glyphicon-plus-sign glyphicon-white"></span> Add</button>
            </div>
            <div>
                <div ng-repeat="searchField in search.advanced.searchFields">
                    {{searchField.field}} = {{searchField.text}} <button class="btn btn-link" ng-click="removeSearchField($index)"><span
                        class="glyphicon glyphicon-remove"></span></button>
                </div>
                <br/>

                <div>
                    <button class="btn btn-primary" ng-click="restartSearch()"><span class="glyphicon glyphicon-search glyphicon-white"></span> Search</button>
                    <button class="btn btn-sm btn-default" ng-click="saveQuery()"><span class="glyphicon glyphicon-share"></span> save</button>
                    <button class="btn btn-sm btn-default" ng-click="loadQuery()"><span class="glyphicon glyphicon-download-alt"></span> load</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-show="metaResults.failedShards">
    <div class="col-md-12">
        <h3>Errors</h3>
        <div class="alert alert-danger" ng-repeat="error in metaResults.errors">
            {{error}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Results</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div ng-repeat="(key,value) in facets">
            <div><strong>{{key}}</strong></div>
            <div ng-show="value._type === 'terms'">
                <div ng-repeat="term in value.terms">
                    <button class="btn btn-link" ng-show="checkSelectedFacet(key,term.term)" ng-click="removeFilter(key,term.term)">{{term.term}} ({{term.count}}) <span class="glyphicon glyphicon-remove"></span></button>
                    <button ng-hide="checkSelectedFacet(key,term.term)" class="btn btn-link"
                          ng-click="addFilter(key,term.term)">{{term.term}} ({{term.count}})</button>
                </div>
            </div>
            <div ng-show="value._type === 'date_histogram'">
                <div ng-repeat="entry in value.entries">
                    <!--<span ng-show="checkSelectedFacet(key,entry.time)"> {{entry.time | date:'medium'}} ({{entry.count}}) <i-->
                    <!--style="cursor:pointer;" class="icon-remove"-->
                    <!--ng-click="removeFilter(key,entry.time)"></i></span>-->
                    <!--<span ng-hide="checkSelectedFacet(key,entry.time)" class="btn btn-mini btn-link"-->
                    <!--ng-click="addFilter(key,entry.time)">{{entry.time | date:'medium'}} ({{entry.count}})</span>-->
                    <span>{{entry.time | date:'medium'}} ({{entry.count}})</span>
                </div>
            </div>
            <div ng-show="value._type === 'histogram'">
                <div ng-repeat="entry in value.entries">
                    <button class="btn btn-link" ng-show="checkSelectedFacet(key,entry.key)" ng-click="removeFilter(key,entry.key)"> {{entry.key}}-{{entry.key+obtainFacetByKey(key).interval}} ({{entry.count}}) <span
                            class="glyphicon glyphicon-remove"></span></button>
                    <button ng-hide="checkSelectedFacet(key,entry.key)" class="btn btn-link"
                          ng-click="addFilter(key,entry.key)">{{entry.key}}-{{entry.key+obtainFacetByKey(key).interval}} ({{entry.count}})</button>
                </div>
            </div>
            <div ng-show="value._type === 'range'">
                <div ng-repeat="range in value.ranges">
                    <span>{{range.from}}-{{range.to}} ({{range.total_count}})</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8" ng-show="totalItems>0">
        <pagination total-items="totalItems" page="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" on-select-page="changePage(page)"></pagination>
        
        <div ng-repeat="result in results.hits">
            <div><span class="text-info">{{result.fields[configure.title]}}</span><span class="text-warning"
                                                                                        ng-show="search.details">    index: {{result._index}} - score: {{result._score}} - type: {{result._type}}</span>
            </div>
            <div class="well-small">
                {{result.fields[configure.description]}}
            </div>
        </div>
        <br/>
        <pre>Page: {{currentPage}} / {{numPages}}</pre>
    </div>
</div>