<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Elasticsearch gui</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website for looking at elasticsearch data">
    <meta name="author" content="Jettro Coenradie">

    <!-- Le styles -->
    <link href="css/bootstrap-3.0.3.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/bootstrap-theme-3.0.3.min.css" rel="stylesheet">

</head>

<body>

<div ng-controller="NavbarCtrl" ng-init="initNavBar()">
    <!-- <navbar heading="Elasticsearch GUI"/> -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Elasticsearch GUI</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in items" ng-class="{active: item.selected}">
                    <a href="#/{{item.link}}">{{item.title}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-lg glyphicon glyphicon-cog" ng-click="configureServerUrl = !configureServerUrl"></a></li>
                <li><p class="navbar-text"><span class="text-{{statusCluster.state}}">{{statusCluster.message}}</span></p></li>
            </ul>
          </div>
    </nav>
    <div class="row" ng-show="configureServerUrl">
        <div class="col-md-11">
            <div class="pull-right">
                <form class="form-horizontal" ng-submit="changeServerUrl()" name="changeServer">
                    <input type="url" ng-model="serverUrl" autofocus="true"/>
                    <button class="btn" type="submit">Change</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" ng-view>
        </div>
    </div>

    <hr>

    <footer>
        <p class="muted credit">Made possible by <a href="http://www.gridshore.nl">Jettro Coenradie</a> and <a
                href="http://www.trifork.nl">Trifork Amsterdam</a>. {{ 'Version v%VERSION%.' | interpolate }}
        </p>

    </footer>

</div>
<!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="lib/angular/angular-1.1.5.min.js"></script> -->
<script src="lib/angular/angular-1.2.6.min.js"></script>
<script src="lib/angular/angular-route-1.2.6.min.js"></script>
<script src="lib/angular/ui-bootstrap-0.9.0.min.js"></script>
<script src="lib/angular/dangle.min.js"></script>
<script src="lib/elasticsearch/elasticsearch.angular-1.1.0.min.js"></script>
<script src="lib/elasticsearch/elastic-1.1.1a.min.js"></script>
<script src="lib/elasticsearch/elastic-angular-client-1.1.1.min.js"></script>
<script src="lib/d3/d3.v3.min.js"></script>

<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>

</body>
</html>
